bouys
bouy_metadata
**/*/node_modules
node_modules
.DS_Store
**/*/.DS_Store
**/*.sqlite
**/*.sqlite-journal
.vscode
**/*.svg
**/*/target

**/*combined-shapefile*
**/*timezones.s*
fixture/build_bouy_metadata/bouy_history_files.html
swell_history_web/static/assets/*
.vagrant
/roles

**/*:Zone.Identifier

